.first-part-description {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
}
.movie-synopsis2 {
  display: none;
}
.movie-synopsis {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  max-width: 400px; 
  word-wrap: break-word;
  color: rgb(255, 231, 231);
}
.person-div {
  margin-right: 100px;
}
.person-div2 {
  margin-bottom: 20px;
}
.person-description {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 0px;
}
.btn-description {
  display: flex;
  margin-bottom: 2rem;
}
.image-description {
  height: 30rem;
  width: 20rem;
  border-radius: 5px;
  margin-left: 8rem;
}
.title-description {
  margin-bottom: 2rem;
  font-weight: 600;
  color: white;
  font-size: xx-large;
}

@media screen and (max-width: 768px) {
  .first-part-description {
    width: 90%; 
    margin-top: 1rem;
  }
  .title-description {
    margin-bottom: 2rem;
    font-weight: 600;
    color: white;
    font-size: x-large;
  }
  .image-description {
    height: auto; 
    width: 14rem;
    margin-left: 10px;
  }

  .movie-synopsis {
    max-width: 100%;
    padding: 0 1rem; 
    font-size: 10px;
  }
}
@media screen and (max-width: 657px) {
  .first-part-description {
    width: 90%; 
    margin-top: 1rem; 
  }
  .title-description {
    margin-bottom: 2rem;
    font-weight: 600;
    color: white;
    font-size: medium;
  }

  .btn-description {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    font-size: 4px;
    padding: -24px;
    height: 33px;
  }
  .image-description {
    height: 10rem;
    width: 7rem; 
    margin-left: 0px;
  }
  .person-description {
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin: 0px;
  }
  .movie-synopsis {
    display: none;
  }
  .movie-synopsis2 {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
  .person-div {
    margin-right: 50px;
  }
  .person-div2 {
    margin-bottom: 2px;
  }
}
